<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends Games</title>
</head>
<body>
    <nav>
        <ol>
            <li><a href="homepage.html">HOME</a></li>
            <li><a href="friendsgames.html">FRIENDS GAMES</a></li>
            <li><a href="howitworks.html">HOW IT WORKS</a></li>
            <li><a href="gamestoplay.html">GAMES TO PLAY</a></li>
        </ol>
    </nav>
    <section>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
        <main>
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852">
            <h2>Game title</h2>
            <h2>amount of friends</h2>
        </main>
    </section>
</body>
</html>