<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How It Works</title>
</head>
<body>
    <nav>
        <ol>
            <li><a href="homepage.html">HOME</a></li>
            <li><a href="friendsgames.html">FRIENDS GAMES</a></li>
            <li><a href="howitworks.html">HOW IT WORKS</a></li>
            <li><a href="gamestoplay.html">GAMES TO PLAY</a></li>
        </ol>
    </nav>
    <h1>How This Website Works</h1>
    <section>
        <h2>Games To Play:</h2>
        <p>This is the main use of this website. You can use this page to find what games you should play next based on what you have in your steam library. Once you login using steam, the website takes into account what you own and only displays games that are not in your library, using the games in your library as a baseline of what to recommend to you.</p>
    </section>
    <section>
        <h2>Friends Games:</h2>
        <p>This is another way of showing you what games to play next. However, this only shows games that you do not have and your friends do have. It will display how many of your friends have each game and rank them from highest amount to least amount.</p>
    </section>
</body>
</html>