{% extends "base.html" %} {% block title %}Reviews{% endblock %}
{% block content %}
<h1 align="center" class="font-color">Reviews</h1>
<ul class="list-group list-group-flush" id="reviewslist">
    {% for review in user.reviews%}
    <li class="list-group-item">{{ review.data }}</li>
    {% endfor %}
</ul>
<form method="POST">
    <label for="gamechoice">Choose A Game:</label>
    <select name="gamechoice" id="gamechoice">
        <option value="elden-ring">Elden Ring</option>
        <option value="dark-souls">Dark Souls</option>
        <option value="team-fortress-2">Team Fortress 2</option>
        <option value="counter-strike-global-offensive">Counter Strike Global Offensive</option>
        <option value="terraria">Terraria</option>
        <option value="rocket-league">Rocket League</option>
        <option value="stardew-valley">Stardew Valley</option>
        <option value="red-dead-redemption">Red Dead Redemption</option>
        <option value="left-4-dead-2">Left 4 Dead 2</option>
        <option value="among-us">Among Us</option>
    </select>
    <textarea name="reviewtext" id="reviewtext" class="form-control" placeholder="Type Review Here..."></textarea>
    <label for="score">Rate this Game:</label>
    <select name="score" id="score">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br />
    <div align="center">
        <button type="submit" class="btn bg-blue text-white">Post</button>
    </div>
</form>
{% endblock %}