:root {
    --gradient: linear-gradient(90deg, #2a475e, rgba(23,26,33,1));
  
}

h3 {
    padding-top: 3vh;
}

h1 {
    padding-top: 3vh;
}

#mynav {
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    background: #2a475e;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}

.bg-blue {
    background-color: #1b2838;
}

.font-color {
    color: #c7d5e0;
}

label {
    color: #c7d5e0;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.landing-btn {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    font-size: 50px;
    background-color: #2a475e;
    box-shadow: inset 0 0 0 0 #66c0f4;
    transition: ease-out 0.4s;
    border: none;
}

.landing-btn:hover {
    height: 350px;
    width: 350px;
    box-shadow: inset 0 0 360px 0 #66c0f4;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 80vh;
    margin-top: 10vh;
    margin-right: 5vw;
}

.buttons-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 80vh;
}


/* 

#homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(27, 40, 56, 1), rgba(102, 192, 244, 1));
}

#buttons {
    margin: 65px;
    background-image: linear-gradient(to top, rgba(23, 26, 33, 0.5), rgba(23, 26, 33, .8));
    height: 800px;
    width: 800px;
    border-radius: 25%;
}

.top{
    margin-top: 115px
}

main {
    display: flex;
    justify-content: center;
    padding: 20px
}

.mid{
    justify-content: space-evenly
}

button {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 24px;
    color: #C7D5E0;
    background-color: #2A475E;
    border: .1px solid black;
    box-shadow: 5px 5px 5px black;
}

button:hover {
    color: rgba(102, 192, 244, 1);
} */
